blinker
click
colorama
et_xmlfile
Flask
Flask-Cors
itsdangerous
Jinja2
lxml
MarkupSafe
numpy
opencv-python-headless  # ✅ GUI 없는 버전 사용
openpyxl
pandas
pillow
python-dateutil
python-pptx
pytz
six
Werkzeug
XlsxWriter
